body {
  overflow-x: hidden;
  margin: 0;
  background-color: aliceblue;
}
:root {
  --primary-color: rgb(255, 166, 0);
}

a {
  text-decoration: none !important;
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading svg {
  animation: loadingAnimation 1s infinite;
  color: black;
  width: 100px;
  height: 100px;
}

@keyframes loadingAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
